
div{
	width: 60%;
	

font-family: 'Philosopher', sans-serif;

}
body{
	background-color: ;
}
h1
{
	color: black;
	font-size: 50px;


}

p{
	div{

      width: 60%;
      margin: auto;

	}
	font-family: 'Bonheur Royale', cursive;
}
a{
font-size: 30px;
text-decoration: none;
color: red;

}